<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Práctica 7 con angular</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="script/angular.min.js" type="text/javascript"></script>
        <script src="script/controller.js" type="text/javascript"></script>
        <script src="script/service.js" type="text/javascript"></script>
    </head>

    <body ng-app="appCoches">
        <div ng-controller="controllerCoches">

            Marca: <input type="text" ng-model="marca"/> </br>
            Modelo: <input type="text" ng-model="modelo"/></br>
            Precio: <input type="text" ng-model="precio" /></br>
            Extras: <input type="text" ng-model="extras" /> </br>
            <div ng-click="addCoche()">Crear coche</div>
            
            </br></br></br>
            
            <table border="1">
                <tr>
                    <td>
                        Nombre del concesionario: 
                        <select ng-model="conSelect">
                            <option ng-repeat="c in concesionarios" value={{$index}}>
                                {{c.nombre}}
                            </option>
                        </select>
                    </td>                    

                    <td>Direccion del concesionario: {{concesionarios[conSelect].direccion}}</td>
                </tr>
                <tr>
                    <td><center>PEDIDOS</center></td>
                </tr>
                <tr>
                    <td ng-click="ordenar('marca')">Marca</td>
                    <td ng-click="ordenar('modelo')">Modelo</td>
                    <td ng-click="ordenar('precio')">Precio</td>
                </tr>

                <tr ng-repeat="coche in concesionarios[conSelect].comanda | orderBy:objeto:orden">
                    <td>Marca: {{coche.marca}}</td>
                    <td>Modelo: {{coche.modelo}}</td>
                    <td>Precio: {{coche.precio}}</td>

                    <td>
                        <li ng-repeat="extra in coche.extras | orderBy:coche.extras:true">
                            Extras: {{extra}}<br/>
                        </li>
                    </td>
                </tr>

            </table>    
        </div>

    </body>
</html>
